.container {
    width: 100%;
}
.photo-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.photo {
    max-height: 20rem;
}
.who-am-i {
    display: flex;
    flex-direction: row;
    padding-left: 10rem;
    padding-right: 10rem;
}
#projects-container {
    width: 100%;
    padding-top: 4rem;
}
.project-text {
    padding-left: 10rem;
    padding-right: 10rem;
    font-size: 1.2rem;
}
#tasks-container {
    width: 100%;
}
.task-card {
    margin: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 1.2rem;
    
}
.task-title {
    padding-top: 1rem;
    font-size: 1.2rem;
    font-weight: bolder;
}
.task-image {
    height: 50px;
}
.task-link {
    margin-left: 2rem;
    margin-right: 2rem;
}
.center {
    text-align: center;
}
.bold {
    font-weight: 900;
}
#follow-me {
    display: flex;
    justify-content: center;
    padding: 3rem;
}
.social-network-image {
    width: 4.1rem;
    height: 4.1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 50%;
}
#video-section {
    padding-left: 10rem;
    padding-right: 10rem;
}
#video-container {
    text-align: center;
}